<p>Word Count 1023</p>
<p><h2>Agile VS. Waterfall and How to Be a Better Agile Project Manager</h2></p>
<h2>Agile</h2>
<p>When you work with a company that is Agile then you will need to be able to adapt to the different changes that may occur on a daily basis.
    When a problem arises, you have to be able to handle it as quickly as possible.
    You will need to rely on your people skills in order to be able to deal with different people and their personalities.
    It will be required of you to be able to interpret what it is that the customer wants and needs so that you can accommodate them.
    You are constantly wanting to have feedback from your customers to make sure that the project goes along as planned.
    You are continuously interacting with the customer and always getting their input on what can be done to make the project better.
    When the team has to present the project to the customer, they may have many different versions of software that is used so that the customer can choose what they like and do not like. It helps the process to go a lot faster than it would if you only had one version. It leaves the customer more satisfied because they are able to see what their project may look like when it is completed.
</p>

<h2>Scrum</h2>

    <p>As a scrum the team will need to have daily meetings and give progress reports of what is going on with the project and how far along the project is coming.
    The product owner will create a product backlog and then the team has to pick from the top of the list which items are a priority and decide on how they are going to work on them.
    The team will then create a sprint on when they believe the project can be completed but meet daily to see if there are any changes that need to be made to the project.
    The ScrumMaster is the one who keeps the team focused and on track for completion on the project.
    They take the wish list and go through a series of them at a time and then plan on how to do it.
    The team continues to go through the list until all of the money is gone, or the deadline has come.
    </p>

<h2>Waterfall</h2>

    <p>The waterfall approach is more so where everything has to be done in order or a step-by-step basis or process and you cannot move on until the step that you are working on is completed before moving on to the next step.
    There is not much room for changes to be made as easily and quickly.
    If there are any changes to be made, then it is easier to do them in the beginning instead of after the project has already begun.
    Everything is decided from the beginning to the end, and everyone has to go by the protocol that has been established.
    Changes can be made it just makes the job a little bit harder because everything is planned.
    Waterfall is good because of the way that everything is planned from the beginning to the end and the team is able to gage on about how much the project will cost and when it will be done a whole lot easier.
    Throughout the process everyone has deadlines that they have to meet which enables the project to get done when it is scheduled to be done.
    The only time that a project might not get done is when there have been some changes made.
    There is less interaction with the customer and team members, so there are no team meetings or weekly progress reports that have to be done.
    </p>

<h2>The Difference between Waterfall and Agile</h2>
    <p>The difference between agile and waterfall is that with agile it is easier to make changes throughout the process whereas with waterfall it is best to make changes in the beginning and not the middle or the end of the project.
    If you make a change later on in waterfall it will hold up the project which could end up costing more money because the project took longer than what it was supposed to.
    Also, in agile it is where everyone works together on different parts of the project where in waterfall they have to work on a particular part and complete it before they can move on.
    Another difference is where in agile you are constantly talking to the customer and getting their inputs for the assignment or project that you have whereas in waterfall you will not interact with the customer as often.
    You will get their input in the beginning. Then after the project is completed you will talk to the customer.
    If there are some changes that they would like to be made, then the team will talk to them in a waterfall methodology, but it is more difficult to make because everything is planned from the beginning to the last step of the process.
    In agile you are constantly giving a progress report to the customer and making improvements as you go before you submit the project for a final review.
    In waterfall the team will not deal with the customer as much and only in the beginning.
    </p>

<h2>What to do to be a better Agile Project Manager</h2>
    <p>If you want to be a better Agile Project manager, then you will need to be fast and have the ability to make changes at the last minute.
    By doing this you should also have the capability to do it smoothly and still fulfill the customers’ needs or requirements for the project to be completed.
    It is good to have organizational skills so that they can know what parts of the project need to be done and who to assign it to.
    You will need to have good planning skills so that you can plan how to go about the project.
    You also will have to be able to solve problems so that when they come up you can say I got it.
    If you are able to interact with people and recognize what they might need before they do is one of the qualities to have to be an agile project manager.
    </p>

<h2>Acceptance Criteria</h2>
<ul>- Meets or exceeds 1000-word count limit.</ul>
<ul>- Information is clear and concise.</ul>
<ul>- Sources are cited and there is not any plagiarism.</ul>
<ul>- Graphics are sourced and tastefully done.</ul>

    Works Cited
    Bottorff, Cassi. Agile Vs. Waterfall: Which Project Management Methodology Is Best For You? 10 August 2022. 10 September 2023. <https://www.forbes.com/advisor/business/agile-vs-waterfall-methodology/>.
    Schwalbe, Kathy. Information Technology Management Project. Cengage, 2018.
