<h2>Motivation theories in Agile Project Management</h2>
<p>Motivation theories are different ways of how people function and how they interact in certain situations.
    The motivation theories help us to understand what motivates people and what makes them do the things that they do.
    As a project manager you will need to know how to motivate the people that are on your team.
    As an agile project manager, you will need to have people on your team that work really well together and are able to make changes at any given moment.
    As a project manager it is always good to know what the people on your teams’ strengths and weaknesses are.
    If the project manager is able to know the capabilities of their team members, then it is easier to know where to place team members so that they are in the right positions.
    The team is more than likely to be successful when they work well together.
    If a team works well together then they are less likely to have issues that can hinder the team from working together.
    There are many different ways to motivate people, it's just that you have to figure out what makes them want to work.
    Some people are motivated because they like and want to do something, and others are motivated because they want an incentive to do well.
    Sometimes a team member may not want to get into trouble.
    Some of the motivation theories that I am going to talk about are Maslow's Hierarchy of Needs, Herzberg's Two Factor Theory, McClelland's Acquired-Needs Theory, and McGregor's Theory X and Theory Y.

</p>
<h2>Maslow's Hierarchy of Needs </h2>
<p>Abraham Maslow is a psychologist who came up with Maslow's Hierarchy of Needs.
    Maslow's Hierarchy of Needs is where everyone has needs and if their needs are fulfilled then it controls what they will do with their life.
    Maslow believed that if a person's basic needs were fulfilled then they were more than likely to survive and progress on to the next stage of the hierarchy.
    Basically, if a person is not given food, water, shelter, or clothing then they will not be able to survive or move to the next phase.
    If a person is given food and water, then they have the sustenance or energy for their body to function and can work as a team and be more productive.
    If a person has a place to stay then they will feel safe and protected from the rain, cold and hot weather.
    Clothing keeps your body protected from the harsh conditions of the weather which keeps a person from getting sick and if a person is sick, they definitely cannot come to work.
    The next phase within the hierarchy is safety which is where the person wants to not have to worry about someone hitting, beating, or threatening them.
    Economic safety is where a person has the money to be able to provide for themselves and their families.
    They are able to have a good job and can get a good education which helps to fulfill their economic safety.
    The next phase is social of the hierarchy where a person has a good relationship with their family, friends, and other people.
    They need a sense of belonging to a particular group to feel that they are needed or wanted and to have close relationships or ties to the group.
    Esteem is the next phase where a person likes to be recognized or respected for the things that they have done at work.
    If all of these needs are being fulfilled, then the person can move on to the last and final phase of the hierarchy which is self-actualization.
    Self-actualization is where the person is able to recognize and see their own potential then they are motivated to achieve their goals.
    As a project manager it is better to know and understand the people that are on their teams so that they can help them to be better workers.

</p>

<figure class="figure">
    <img
            class="Maslow"
            src="https://miro.medium.com/v2/resize:fit:828/0*M5IQmJImtTus6KrW"
            alt="Maslow">

    <figcaption class="figure-caption">
        Sourced from <a href="https://medium.com/@Aden.VaughanWilliams/how-a-leader-can-apply-maslows-hierarchy-of-needs-in-project-management-ed0cf8290317 ">
        https://medium.com/@Aden.VaughanWilliams/how-a-leader-can-apply-maslows-hierarchy-of-needs-in-project-management-ed0cf8290317    </a> by Jira
    </figcaption>
</figure>
<h2>Herzberg's Two Factor Theory</h2>
<p>Frederick Herzberg was head of the Psychology department at Case Western University, and he came up with Herzberg’s Two Factory Theory.
    Herzberg believed that if a person has stability within their jobs, has the salary that they want, and have the right working environment then they will be happier with their jobs which are a part of the hygiene factors.
    If that person receives awards or praise for their hard work, then which satisfies their needs and motivates them to want to do work and enjoy it.
    Herzberg believed that people wanted to be known for their own achievements that they worked hard for and to be acknowledged for their achievements.

</p>
figure class="figure">
<img
        class="Herzberg"
        src="https://images.ctfassets.net/pdf29us7flmy/5RfDFDAz1WNOnUHEVu0HQK/7af1814ad5ddb6b5ebe741b4532752c3/herzberg-theory-workplace.jpg?w=720&q=100&fm=avif"
        alt="Herzberg">

<figcaption class="figure-caption">
    Sourced from <a href="https://www.indeed.com/career-advice/career-development/herzberg-theory">
    https://www.indeed.com/career-advice/career-development/herzberg-theory
</a> by Indeed
</figcaption>
</figure>
<h2>McClelland's Acquired Needs Theory</h2>

<p>McClelland's Acquired Needs Theory is a great way to motivate team members to want to work in agile project management because you set goals that can be reached and completed by your team members as an agile project manager.
    The team members are able to see the work that they are doing and what they have accomplished and that they receive recognition for their achievements.
    As an agile project manager if you have an open-door policy, it allows the team members to feel as if they can come and talk to you about anything, feeling as if you have their back.
    If you as a project manager know your team strengths and weaknesses, then you are able to assign who the leader of the team will be therefore acknowledging their power within the group in McClelland's Acquired Needs Theory.

</p>

<figure class="figure">
    <img
            class="McClelland"
            src="https://img1.wsimg.com/isteam/ip/b537c94c-a04b-48c4-bb7a-2d8eabe817b6/Need%20for%20Achievement.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1280"
            alt="McClelland">

    <figcaption class="figure-caption">
        Sourced from <a href="https://managementworksmedia.com/blog/f/the-three-needs-theory-of-motivation ">
        https://managementworksmedia.com/blog/f/the-three-needs-theory-of-motivation
    </a> by The MW Blog
    </figcaption>
</figure>
<h2>McGregor's Theory X and Theory Y</h2>
<p>Douglas McGregor was a researcher and he believed that in Theory X that all workers are lazy and need to be micromanaged in order to work.
    Theory X would not work in an agile project management because workers need to have their own free will.
    Theory Y says that workers are responsible and are motivated and are able to do everything on their own without someone constantly looking over their shoulder.
    Theory Y works perfectly in an agile project management setting because the team is able to work together as a team and are able to do it on their own.

</p>
<figure class="figure">
    <img
            class="McGregor"
            src=https://static.wixstatic.com/media/c52339_bb01fa5958e649e7908f488fb03a9639~mv2.png/v1/fill/w_925,h_483,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c52339_bb01fa5958e649e7908f488fb03a9639~mv2.png"
            alt="McGregor">

    <figcaption class="figure-caption">
        Sourced from <a href="https://www.theleadershipcoaches.co.uk/post/mcgregor-s-theory-x-and-theory-y-model ">
        https://www.theleadershipcoaches.co.uk/post/mcgregor-s-theory-x-and-theory-y-model
    </a> by The Leadership Coaches
    </figcaption>
</figure>



<h2>Works Cited</h2>
<p id="citation-mw" class="citation-source">
    Blog, T. M. (2022, December 1). The Three Needs Theory of Motivation. Retrieved from The MW Blog: https://managementworksmedia.com/blog/f/the-three-needs-theory-of-motivation</p>

<p id="citation-indeed" class="citation-source">
    Indeed. (2023, March 10). Herzberg's Theory: A Guide for Boosting Employee Motivation. Retrieved from Indeed: https://www.indeed.com/career-advice/career-development/herzberg-theory</p>

<p id="citation-nichols" class="citation-source">
    Gantayat, S. (2022, February 16). Everything You Need to Know About Quality Management in Agile. https://agilemania.com/quality-management-in-agile</p>

<p id="citation-leadership" class="citation-source">
    Coaches, T. l. (2023, October 20). McGregor's Theory X and Theory Y Model. Retrieved from The leadership Coachers: https://www.theleadershipcoaches.co.uk/post/mcgregor-s-theory-x-and-theory-y-model</p>

<p id="citation-schwalbe" class="citation-source">
    Vaughn-Williams, A. (2019, April 7). How a Leader can apply Maslow's Hierarchy of Needs in Project Management. Retrieved from Medium: https://medium.com/@Aden.VaughanWilliams/how-a-leader-can-apply-maslows-hierarchy-of-needs-in-project-management-ed0cf8290317</p>