<p>
	Agile is a family of software development methodologies that emphasizes iteration and receptiveness to changing requirements–hence the name. It's often contrasted with waterfall, a historically dominant method of software development. Before we introduce Agile, let us introduce waterfall.
</p>

<h1>Waterfall</h1>

<p>
	Waterfall finds its origins in traditional engineering disciplines, in which changes later in the engineering process are much more expensive. For example, in structural engineering, a change in the requirements of a building after construction has begun could mean lost materials, delays due to unforeseen permits, etc.. New requirements may even be rejected if land is insufficient or the budget doesn't allow for them.
</p>

<p>
	For that reason, it's crucial that thorough contracts are made beforehand with stakeholders, that requirements are explicitly planned, and potential roadblocks deliberated as much as possible. Waterfall divides this process into six phases: requirements estimation, analysis, design, programming, testing, and operations (maintenance).
</p>

<figure class="figure">
	<img
		class="figure-img mw-100"
		src="https://assets.asana.biz/transform/a6df6b88-06c5-4de4-a946-b833b389bc0c/inline-project-management-project-management-methodologies-1-2x?io=transform:fill,width:1680&format=webp"
		alt="The stages of waterfall">

	<figcaption class="figure-caption">
		Sourced from <a href="https://asana.com/resources/waterfall-project-management-methodology">https://asana.com/resources/waterfall-project-management-methodology</a> by Sarah Laoyan
	</figcaption>
</figure>

<p>
	Software development originally inherited this paradigm, but it gradually fell out of fashion as the ease of changing course was discovered. This gave rise to Agile, which unconcoincidentally criticizes everything waterfall stood for. The process originated in the Wasatch Mountains of Snowbird, Utah, in which seventeen software engineers met to discuss their frustrations with the overly rigid–and corporate–waterfall software development <cite>(<a href="#citation-drumond">Drumond</a>)</cite>. There, they devised four assertions that preface the Agile Manifesto:

	<ul>
		<li>Individuals and interactions over processes and tools</li>
		<li>Working software over comprehensive documentation</li>
		<li>Customer collaboration over contract negotiation</li>
		<li>Responding to change over following a plan</li>
	</ul>
</p>

<p>
	These assertions acknowledge that their right sides are important, but prioritize their left sides. For example, the statement “Individuals and interactions over processes and tools” says that collaboration between individuals as necessary is more important than interaction following a strict step-by-step template.
</p>

<p>
	Agile is often misinterpreted; too often, its implementers schedule a rigid set of meetings or insist that an “agile” process govern every customer-developer or developer-developer interaction. On the contrary–Agile is a mindset, rather than a process. It deliberately encourages loose processes and recommends against red-tape in an attempt to promote what's been recently termed business agility. Business agility is members of an organization asking each other “How might we structure and operate our organization in a way that allows us to create and respond to change and deal with uncertainty?” <cite>(<a href="citation-what-is-agile">“What is Agile?”</a>)</cite>
</p>

<p>
	Although Agile is loosely defined, it's usually implemented via a particular software development framework (e.g. Scrum or Kanban). Because Scrum is the most popular framework, we'll provide a summary of it to illustrate a representative example of Agile in practice.
</p>

<h1>Scrum</h1>

<p>
	Sprints are further divided into four stages:

	<ol>
		<li>
			Sprint planning

			<ul>
				<li>Independent units of work, called stories, are selected from the project backlog and are allocated among team members.</li>
			</ul>
		</li>

		<li>
			Daily standup

			<ul>
				<li>Team members meet for no more than 15 minutes daily to alleviate blockers, clarify story requirements, and plan the day.</li>
			</ul>
		</li>

		<li>
			Sprint review

			<ul>
				<li>Team members showcase their work, discuss the state of the project, and, if it isn't continuously deployed, decide whether to release an increment.</li>
			</ul>
		</li>

		<li>
			Sprint retrospective

			<ul>
				<li>Team members come together to reflect on the efficacy of their processes. They reflect on what went well, what didn't, new ideas, things they found interesting, people they'd like to acknowledge, etc.. This is a great opportunity for them to adjust their implementation of Scrum to their niche.</li>
			</ul>
		</li>
	</ol>
</p>

<p>
	These stages are administered primarily by the Scrum Master or team lead, despite everyone participating in them equally.
</p>

<figure class="figure">
	<img
		class="figure-img mw-100"
		src="https://wac-cdn.atlassian.com/dam/jcr:709d95de-f4d4-4faf-aa9f-4bead10e888b/sprint_cycle-c.png?cdnVersion=1198"
		alt="The stages of a Scrum sprint">

	<figcaption class="figure-caption">
		Sourced from <a href="https://www.atlassian.com/agile/scrum">https://www.atlassian.com/agile/scrum</a> by Claire Drumond
	</figcaption>
</figure>

<h2>Scrum Values</h2>

<p>
	According to the <a href="https://scrumguides.org/scrum-guide.html">Scrum Guide</a> <cite>(<a href="#citation-sutherland">Sutherland and Schwaber</a>)</cite>, Scrum teams should follow four foundational values that shape the tone of their implementation of Scrum. Notice their alignment with the Agile Manifesto:

	<ul>
		<li>
			Commitment

			<ul>
				<li>Team members should err on the conservative side when volunteering to take on work and should refrain from overcommitting. Communication and requests for help should occur as needed to ensure commitments don't fall through.</li>
			</ul>
		</li>

		<li>
			Courage

			<ul>
				<li>Scrum teams should be courageous and autonomous when deciding their processes. They should be free to modify processes to suit their own needs and to challenge the status quo of software development within the organization.</li>
			</ul>
		</li>

		<li>
			Focus

			<ul>
				<li>Team members should have plenty of time within sprints to complete their assigned tasks and shouldn't be overburdened with unnecessary meetings that detract from their velocity (hence the term “sprint”).</li>
			</ul>
		</li>

		<li>
			Openness

			<ul>
				<li>Collectively, a Scrum team should foster a culture of openness, in which members feel comfortable honestly reporting their current progress and estimated future rate of progress. Blockers should be addressed swiftly and nonjudgmentally by fellow members.</li>
			</ul>
		</li>

		<li>
			Respect

			<ul>
				<li>Team members respect each other's contributions and accomplishments, and the directives of the product owner and Scrum Master.</li>
			</ul>
		</li>
	</ul>
</p>

<h1>Benefits of Agile</h1>

<p>
	As previously mentioned, Agile's faster-paced cycles and loose requirements enable teams to respond swiftly to demands from the customer or product owner. It acknowledges that software development is never-ending and iterative in nature, and that the cost of changing requirements later is less than that in other industries.
</p>

<p>
	By ditching overly rigid corporate processes and reflecting on a team-by-team basis, organizations can employ Agile to boost their velocity and align themselves with what matters most: pleasing customers with well-developed and promptly-developed software. Teams can implement Scrum via an industry-standard framework like Agile or by assembling their own software development cycle.
</p>

<h1>Works Cited</h1>

<p id="citation-drumond" class="citation-source">
	Drumond, Claire. “Is the Agile Manifesto Still a Thing?” Atlassian, https://www.atlassian.com/agile/manifesto. Accessed 10 September 2023.
</p>

<p class="citation-source">
	Drumond, Claire. “Scrum - What is it, how it works, & how to start.” Atlassian, https://www.atlassian.com/agile/scrum. Accessed 10 September 2023.
</p>

<p id="citation-sutherland" class="citation-source">
	Sutherland, Jeff, and Ken Schwaber. “The 2020 Scrum Guide TM.” Scrum Guides, 2020, https://scrumguides.org/scrum-guide.html. Accessed 10 September 2023.
</p>

<p id="citation-what-is-agile" class="citation-source">
	“What is Agile? | Agile 101.” Agile Alliance, https://www.agilealliance.org/agile101/. Accessed 10 September 2023.
</p>
