{% extends "base.html" %}

{% set title = article.title %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
{% endblock %}

{% block main %}
	<div class="container col-xl-8 col-xxl-6 my-5">
		<h1 class="display-2">{{ article.title }}</h1>
		<div class="d-flex gap-3">
			<h6 class="text-body-secondary">By {{ article.author }}</h6>
			<small class="fw-bold text-body-tertiary">{{ article.date }}</small>
		</div>

		{{ article.rendered()|safe}}
	</div>
{% endblock %}
